<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="HatLoversStoreConnectionString" connectionString="Data Source=&quot;ACSQL.montgomerycollege.edu, 14433&quot;;&#xD;&#xA;      &#xD;&#xA;      Initial Catalog=HatLoversStore;Persist Security Info=True;User ID=cmsc224003;Password=cmsc@224003"
      providerName="System.Data.SqlClient" />
    <add name="HatLoversStoreConnectionString2" connectionString="Data Source=I7-YING\SQLEXPRESS;Initial Catalog=HatLoversStore;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--<add key="SecureAppPath" value="//localhost:44300/" />
    <add key="UnsecureAppPath" value="//localhost:54976/" />-->
  </appSettings>
  <!--<customErrors mode="on" defaultRedirect = "DefaultError.aspx">
   <error statusCode="404" redirect ="E404.aspx"/>
    <error statusCode="500" redirect ="E500.aspx"/>
  </customErrors> --> 
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
